*.unity filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Assets/Character/Prefab/character[[:space:]](3).fbx filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.so filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.dylib[[:space:]] filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.7.3/.Runtime/libburst-llvm-12.dylib filter=lfs diff=lfs merge=lfs -text
